###### Programming :

In [ ]:
machine can understand only (0,1) number language with high current volt (1) and low current volt is (0) 
python code is high level language to low level language can translate to translator (compiler/interpreter) to machine

## What is Python?

In [ ]:
* python is simple and easy
* free and open source
* high level language
* Developed by guido van rossum
* portable
* branches of programming : by using a python we can learn data science machine learning Artificial intelligence web development create an websides by backend we use an framework name is django and gaming can explore an programming by different different areas.

# Our First Program

In [2]:
print("Hello World")

Hello World

# Python Character set

In [ ]:
* Letter - A to Z, a to z
* Digits - 0  to 9
* special symbols - + _*/etc.
* whitespaces-Blank space,tab,carriage return,newline,formfeed
* other characters - python can process all ASCLL and unicode characters as part of data or literals.

In [5]:
print("my name is santoshi")
print("my age is 25")

my name is santoshi
my age is 25

In [6]:
print("my name is santoshi","my age is 25") ## that's why python is easy to understand

my name is santoshi my age is 25

In [7]:
print(25)

25

In [8]:
print(23+34)

57

## Variables

In [ ]:
A variable is a name given in a memory location in a program.
name : santoshi
name is a variable and santoshi is a value
age : 25
price : 25.99

In [10]:
name="santoshi" #it is string
age = 25 #we can store an value from right to left we call as Assignment operator
price = 25.99
print("name") ## because name in string "name"

name

In [11]:
name="santoshi" 
age = 25 
price = 25.99
print(name) ## not in string

santoshi

In [13]:
name="santoshi" 
age = 25
price = 25.99
print("my name is :", name)
print("my age is :", age)
print("my price is :", price)

my name is : santoshi
my age is : 25
my price is : 25.99

# Rules For Identifiers

In [ ]:
1.identifiers can be combination of uppercase and lowercase letters , digits or an underscore(_).
so myVarable,variable_1,variable_for_print all a valid pytjon identifiers.
2.An identifier can not store with digit so while variable1 is valid, 1variable is not valid.
3.we can't use special symbols like !,#,@,%,$.etc in our identifier.
4.identifier can be of any length.

In [15]:
name="santoshi" 
age = 25
price = 25.99
print(type(name))
print(type(age))
print(type(float))

<class 'str'>
<class 'int'>
<class 'type'>

# Data Type

In [ ]:
* integers -ve,+ve,0 (25,-25,0) int values
* string "santoshi" 'Hello' 'n',"n",'''n''' string values
* Float  5.99, 2.5, 9.0 float value 
* Boolean True False T/F both in capital other wise we get an error boolean values
* None none means we cannot store any value a=None (for writting none N is capital other wise we get an error)

In [17]:
name1='santoshi'
name2="santoshi"
name3='''santoshi'''
print(name1)
print(name2)
print(name3)

santoshi
santoshi
santoshi

In [20]:
age= 25
old=false
a=None
print(type(age))
print(type(old))
print(type(a))

NameError: name 'false' is not defined

In [21]:
age= 25
old=False
a=None
print(type(age))
print(type(old))
print(type(a))

<class 'int'>
<class 'bool'>
<class 'NoneType'>

# Keywords

In [ ]:
keywords are reserved words in python just like an dictionary

In [34]:
import keyword

In [35]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# print sum

In [37]:
a=5
b=8
sum=a+b
print(sum)

13

In [38]:
a=5
b=8
diff=a-b
print(diff)

-3

In [39]:
a=5
b=8
div=a/b
print(div)

0.625

# Types of Tokens

In [ ]:
punctuators:
punctuators are symbols to organize sentence in programming.
().{},@,[],#etc.
-=,+=,/=,*=,//=,=etc.

In [ ]:
Type of language are , variable declaration is implicit in python
1.(implicit)   inside languages are python  (we cannot show an type)         
2.(explicit)   outside languages are c++, java (show an variable type)

# Expression Execution

In [ ]:
string and numberic values can operate together with *

In [45]:
A,B = 2,3
Txt = "@"
print(2*Txt*3)

@@@@@@

In [ ]:
string and string can operate with* we can also called it can also concatnation by help of adding

In [47]:
A,B = "2",3
Txt="@"
print((A+Txt)*B)

2@2@2@

In [ ]:
* numeric values can operate with all arithmetic operators

In [6]:
A,B = 2,3  
C = 4
print(A+B*C) ## has compare to + multiply is higher (*>+) 2+3*4 3*4=12 2+12=14

14

In [ ]:
* Arithemetic expression with integer and float will result in float

In [9]:
A,B = 10,5.0 
C = A*B
print(C)  # 10*5.0 = 50.0 int to float answer should be float

50.0

In [ ]:
* Result of division operator with two integers with be float

In [10]:
A,B = 1,2
C = A/B
print(C)  # A=1 B=2 C=1/2 = 0.5

0.5

In [ ]:
* integer division with float and int will given int displayed as float

In [12]:
A,B = 1.5,3
C = A//B
print(C,A/B) # A=1.5 B=3 C=1.5//3 = 0.0 0.5

0.0 0.5

In [ ]:
floor gives closest integer, which is lesser than or equal to the float value
Reult of(A//B) is same as floor(A/B) ##floor(number) closest 0,1=1 5.2 5

In [13]:
A,B=12,5
C=A//B
print(C)  ## c=12//5 = 2.4

2

In [15]:
A,B=-12,5
C=A//B 
print(C)   ## c=-12//5 = -2.4 = -3

-3

In [16]:
A,B=12,-5
C=A//B
print(C)   ## c=12//-5 = -2.4 = -3

-3

In [ ]:
* Remainder is negative when denominator is negative n/d +*+=+ -*-=+ +*-=- -*+=+

In [19]:
A,B =-5,2
C = A%B
print(C)   ### C=-5/2 = 1  -*-=+

1

In [20]:
A,B = 5,2
C = A%B
print(C)   ## C=5/2 = 1    +*+=+

1

In [21]:
A,B = 5,-2
C = A%B
print(C)     ## C=-5/-2 = 1   +*-=-

-1

# Comments in python

In [ ]:
# single line comment
""" This is a multi- line comment"""

In [22]:
#print("Hello") wan't be printed
print("Hello")  will be printed

Hello

# input in python

In [ ]:
input() statement is used to accept values (using keyword) from user

In [26]:
# string input # we can pass word and cen
name = input("name :")
print(name)
name = input("name :")
print(name)
name = input("name :")
print(name)               ## name : santoshi

name : santoshi

santoshi

name : madrage

madrage

name : sanuu

sanuu

In [29]:
# int input
age = int(input("age:"))
print(age)

age: 25

25

In [32]:
# float input
price = float(input("price :"))
print(price)

price : 23.0

23.0

In [31]:
name = input("name :")
age = int(input("age:"))
price = float(input("price :"))
print("my name is",name,"and I am",age,"year old")

name : santoshi
age: 25
price : 23.0

my name is santoshi and I am 25 year old

# Types of operators
operators is a symbol that performs a certain operation between operands.

In [ ]:
* Arithmetic Operators (+. -. *, /, //, %, **)                 AND     OR   0^0
* Relational/comparison Operators (==, !=, >, <, >=, <=)       TT|T    TT|T 1^1
* Assigment Operators (=, -=, *=, /=, %=, //=, **=)            FT|F    TF|T 1 1 | R=0
* Logical Operators (not, and, or)                             TF|F    FT|T 0 0 | R=0
* Membership Operators (in, notin)                             FF|F    FF|F 1 0 | R=1
* identity Operators (is, isnot)                                            0 1 | R=1
* Bitwise Operators(&, |, ^)        # &=AND |=OR ^=XOR

In [42]:
# Arithmetic Operators = a + b , + we called operator and b we called operands.
# Arithmetic Operators used to do basic math operations.-----(Do maths)
a = 5 
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b) # a Modulo b means we have to find an remainder
print(a**b) # a to the power of b or (a^b)

7
3
10
2.5
2
1
25

In [44]:
# Relational/comparison Operators (==, !=, >, <, >=, <=) compare two values
# Relational/comparison Operators used to compare two values and give True or False.----Compare values (True/False).
a = 50 
b = 20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b) 
print(a<=b)

False
True
True
False
True
False

In [45]:
# Assigment Operators (=, -=, *=, /=, %=, //=, **=) 
# Assigment Operators used to store or update values in a variable.-------Store or update values.
num = 10 
num = num + 10 #10+10 == 20
print("num :",num)

num : 20

In [49]:
num = 10 
num += 10
num -= 10
num *= 10
num /= 10
num %= 10
num //= 10
num **= 10
print("num :",num)

num : 0.0

In [50]:
num = 10 
num *= 10
print("num :",num)

num : 100

In [52]:
# Logical Operators (not, and, or)
# # Logical Operators used to combine conditions (True/False) -------Join conditions
a = 50 
b = 30
print(not False)
print(not (a > b))

True
False

In [56]:
val1 = True
val2 = True
print("ans operator:",val1 and val2)

ans operator: True

In [57]:
val1 = True
val2 = False
print("AND operator:",val1 and val2)

print("OR operator:",val1 or val2)

AND operator: False
OR operator: True

In [59]:
print("OR operator:",(a==b) or (a>b))

OR operator: True

# Practice Time
state True and False

In [ ]:
1. /* is a symbol used in python for single line comment (False) Ans=# This is an comment """this is an multi-line comment"""
2. 2ndNAme is an invalid identifier in python (True)  Ans=start with a-z A-Z or _ cant start with digits number 0-9
3. **is a valid arithmetic operator in python (True) Ans= a**b apowerb
4. in is a logical operator in python (False) Ans=AND,OR,NOT
5. variable declaration is implicit in python (True)  Ans=implicit we cannot show an type (age=25) and Explicit where we can sho variable type(int age=25) so variable declaration is implicit in python not an Explicit

# Practice Time

In [ ]:
6.consider the given expression : not True and False or True
which of the following will be coorect output if the given expression is evaluated?
(a)True 
(b)False
(c)NONE
(d)NULL
Answer: not True and False or True
not operator precedence not>and>or the not True will convert T--F=F F--T=F so 
not True and False or True
False and False or True
and operator will tell that False and False it become False
False and False or True
False or True
or operator will tell that if one value will be an True then answer become True so final Answer is True
False or True
True
Answer:(a)True

# Conditional Statements
if-elif-else(SYNTAX) and all are keyword

In [ ]:
if(condition):
proper spacing we called (INDENTATION ERROR) it should be 4 space statement1
elif(condition):
    statement2
else:
    statementN

In [13]:
# Traffic lights code
light = input("light color :")
if(light == "red"):
    print("stop")
elif(light == "yellow"):
    print("look")
elif(light == "green"):
    print("go")
else:
    print("light is broken")

light color : green

go

In [14]:
light = input("light color :")
if(light =="red"):
    print("stop")
elif(light == "yellow"):
    print("look")
elif(light == "green"):
    print("go")
else:
    print("light is broken")

light color : blue

light is broken

In [30]:
## Grade of students
marks = int(input("marks : "))

if marks >= 90:
    print("A")
elif marks >= 80:
    print("B")
elif marks >= 70:
    print("C")
else:
    print("D")

marks :  50

D

In [32]:
marks = int(input("marks:")) marks is an variable , int means an integer value ,input means string type of value 
if(marks >= 90):
    print("A")
elif(marks >= 80 and marks < 90):
    print("B")
elif(marks >= 70 and marks < 80):
    print("c")
else:
    print("D")

marks: 80

B

# Practice Time
print output for:
A=5 & G=M
A=2 & G=F

In [5]:
A = int(input("A : "))                 # A=5 & G=M                A=2 & G=F                               AND     OR   0^0                                       
G = input("M/F : ")
if((A == 1 or A == 2) and G == "M"):  # F or F and T              F or T and F                           TT|T    TT|T 1^1
    print("fee is 100")               # F and T = F Answer = F    T and F = F Answer = F                 FT|F    TF|T 1 1 | R=0
elif(A == 3 or A == 4 or G == "F"):   # F or F or F               F or F or T                            TF|F    FT|T 0 0 | R=0
    print("fee is 200")               # F or F = F Answer = F     F or T = T Answer = T                  FF|F    FF|F 1 0 | R=1
elif(A == 5 and G == "M"):            # T and T                   F and F                                             0 1 | R=1
    print("fee is 300")               # T Answer = T              F Answer = F
else:
    print("no fee")

A :  4
M/F :  G

fee is 200

# Conditional Statement
single line if / Ternary operator

In [11]:
# <Var> = <Var1>if<condition>else<val2>
food = input("food : ")
eat = "yes" if food == "cake" else "no"
print(eat)

food :  cake

yes

In [17]:
fruits = input("fruits : ")
eat = "yes" if fruits == "orange" else "no"
print(eat)

fruits :  Apple

no

In [19]:
#<stt1>if<condition>else<stt2>
food = input("food : ")
print("sweet") if food == "cake" or food == "jalebi" else print("not sweet")

food :  orange

not sweet

# Clever if / Ternary operator

In [15]:
## <var>=(false-val,true_val) [<condition>]
age = int(input("age : "))
Vote = ("no", "yes")[age >= 18]
print(Vote)

age :  14

no

In [16]:
age = int(input("age : "))
Vote = "yes" if age >= 18 else "no"
print(Vote)

age :  18

yes

In [20]:
age = int(input("Enter age: "))

if age < 18:
    vote = "no"
else:
    vote = "yes"

print("Eligible to vote:", vote)

Enter age:  17

Eligible to vote: no

In [22]:
age = int(input("Enter age: "))

if age < 18:
    vote = "no"
else:
    vote = "yes"

print(vote)

Enter age:  3

no

In [23]:
sal = float(input("salary : "))
tax = sal*(0.1, 0.2) [sal<=50000]
print(tax)

salary :  7

1.4000000000000001

# Best Practice

In [25]:
# 1. simple instructions
name = input("name :")
print(name)

name : santoshi

santoshi

In [26]:
print(input("name : "))

name :  santoshi

santoshi

In [ ]:
# 2.one instruction per task
task 1 : input
task 2 : code
task 3 : out

In [28]:
# Task 1 : input
age = int(input("Enter age: "))

# Task 2 : (code)logic
if age < 18:
    vote = "no"
else:
    vote = "yes"
    
# Task 3 : output
print("Eligible to vote:", vote)

Enter age:  18

Eligible to vote: yes

In [30]:
# 3.short and meaningful Variable names
a = int(input("a:"))
b = int(input("b:"))
print(a+b)

a: 3
b: 5

8

In [33]:
# simple 
num1 = int(input("num1:"))
num2 = int(input("num2:"))
sum = num1+num2
print("sum = ",sum)

num1: 4
num2: 8

sum =  12

In [34]:
num1 = int(input("num1:"))
num2 = int(input("num2:"))
print(num1+num2)

num1: 7
num2: 9

16

In [35]:
# 4.use appropriate comments
# code to calculate sum --- it is an head line ( how code is going to work )
num1 = int(input("num1:"))
num2 = int(input("num2:"))
sum = num1+num2
print("sum = ",sum)

num1: 4
num2: 7

sum =  11

In [ ]:
# 5. avoid complex expressions
sal = float(input("salary : "))
tax = sal*(0.1, 0.2) [sal<=50000] 
print(tax)
“It is not correct to write code in a complex way. Write it in a simple and easy-to-understand format.”
written in a simple, clean, readable, step-by-step, beautiful format.
Why this is better?

Easy to read

Each step is clearly explained

Variable names are meaningful

# Best practice
calculate simple interest means P = principal , R = rate , T = time ,  SI = simple interest , SI = P*R*T/100

In [36]:
a = float(input("a:"))
b = float(input("b:"))
c = float(input("c:"))
print(a*b*c/100)

a: 3
b: 5
c: 6

0.9

In [38]:
# improved
p = float(input("p:"))
t = float(input("t:"))
r = float(input("r:"))
si = (p*t*r)/100
print(si)

p: 6
t: 9
r: 5

2.7

In [40]:
p = int(input("p:"))
t = int(input("t:"))
r = int(input("r:"))
si = (p*t*r)
print(si)

p: 7
t: 9
r: 5

315

# Type conversion
one type of variable can conver another type of variable if a variable is type - int then convert it in float variable
# 2 types of type conversion
1.conversion (automatically)
2.casting (manually we can convert)

In [61]:
# type conversion
a = 2     # float is superier compare to int
b = 4.25
sum = a + b
print(sum)

6.25

In [64]:
a = "2"    
b = 4.25
print(type(a))

<class 'str'>

In [65]:
a = "2"    
b = 4.25
print(type(b))

<class 'float'>

In [66]:
a = "2"    
b = 4.25
print(a+b)

TypeError: can only concatenate str (not "float") to str

In [68]:
# here we called type casting --- to convert one data type to another data type
a = int("2")    
b = 4.25
print(type(a)) 
print(a+b)

<class 'int'>
6.25

In [71]:
a, b = 1, "2"
c = int(b)
sum = a + c
print(sum)

3

In [5]:
a = 3.14   # explicit string
b = str(a)
print(type(a))

<class 'float'>

# input in python

In [ ]:
input()statement is used to accept values (using keyboard) from user

input() #result for input() is always a str

int(input()) #int

float(input()) #float

In [9]:
name = input("enter your name :")
print("welcome", name)

enter your name : santoshi

welcome santoshi

In [12]:
age = input("enter your age :")
print("my age is", age)

enter your age : 25

my age is 25

In [13]:
name = input("enter your age :")
print("you entered", name)

enter your age : 25

you entered 25

In [16]:
val = input("enter some value :")
print(type(val),val)   # input can convert into string

enter some value : santoshi

<class 'str'> santoshi

In [17]:
int("5")
val = int(input("enter some value :"))
print(type(val),val)

enter some value : 5

<class 'int'> 5

In [18]:
int("5")
val = float(input("enter some value :"))
print(type(val),val)

enter some value : 34

<class 'float'> 34.0

In [20]:
name = input("enter name :")
age = int(input("entsr age :"))
marks = float(input("enter marks :"))

print("welcome", name)
print("age", age)
print("marks",marks)

enter name : santoshi
entsr age : 25
enter marks : 90

welcome santoshi
age 25
marks 90.0

# Let's practice

In [29]:
# write a program to input 2 numbers and print their sum.
num1 = int(input("num1"))
num2 = int(input("num2"))
sum = num1+num2
print("sum = ",sum)

num1 8
num2 7

sum =  15

In [34]:
first = int(input("enter first :"))
second = int(input("enter second :"))
print("sum = ",first+second)

enter first : 20
enter second : 30

sum =  50

In [35]:
# WAP to input side of a sguare and print area
side = float(input("enter square side :"))
print("area=", side*side)

enter square side : 4

area= 16.0

In [36]:
side = float(input("enter square side:"))
print("area=",side*side)

enter square side: 4

area= 16.0

In [39]:
# WAP to input 2 floating point their average.
a = float(input("enter first :"))
b = float(input("enter second :"))
print("Avg = ",(a+b)/2)

enter first : 16.5
enter second : 3.5

Avg =  10.0

In [44]:
# WAP to input 2 int numbers. a and b.
# print True if a is greater than or equal to b.if not print False
a = int(input("a :"))
b = int(input("b :"))
print(a>=b)

a : 6
b : 3

True

In [49]:
a = int(input("enter first :"))
b = int(input("enter second :"))
print(a>=b)

enter first : 15
enter second : 2

True

In [48]:
a = int(input("enter first :"))
b = int(input("enter second :"))
print(a>=b)

enter first : 2
enter second : 15

False

# Chapter 2
# Strings & Conditional Statements

In [ ]:
String is data type that stores a sequence of characters.
    
Basic Operations
    
. Concatenation                  # Concatenation  means it joining the strings where we can use (a+b) operator
    "hello" + "world" ---- "helloworld"
    
. length of str                  # using this len(str) we can find any length function
    len(str)

In [ ]:
# strings
str1 = "This is string"
str2 = 'Apnacollege'
str3 = """this is a string"""

'this ia a Apnacollage's tutorial'

In [51]:
str1 = "This is string.\nwe are creating it in python." #/n(backslach in) is a escape sequence of character means it next line

This is string.
we are creating it in python.

In [54]:
str1 = "This is string.\t we are creating it in python." #/t(tabspace) is a escape sequence of character means it has an tab space
print(str1)

This is string.	 we are creating it in python.

In [55]:
# Concatenation
str1 = "apna"
str2 = "college"
print(str1+str2)

apnacollege

In [56]:
str1 = "apna"
str2 = "college"
final_str = str1+str2
print(final_str)

apnacollege

In [58]:
# len(str)
str1 = "apna"
len1 = len(str1)
print(len1)
str2 = "college"
len2 = len(str2)
print(len2)
final_str = str1+str2
print(final_str)

4
7
apnacollege

In [62]:
str1 = "apna"
len1 = len(str1)
print(len1)
str2 = "college"
len2 = len(str2)
print(len2)
final_str = str1+" "+ str2
print(final_str)
print(len(final_str))

4
7
apna college
12

In [ ]:
# indexing see the index -- position
a p n a _ c o l l e  g  e
0 1 2 3 4 5 6 7 8 9 10 11 
how index will helps means to access character str[2]
str = "Apna_College"
str[0] is 'A',str[1] is 'P' ...
str[0] = 'B' #not allowed

In [72]:
str = "apna college"
ch = str[0]
print(ch)
ch = str[1]
print(ch)
ch = str[2]
print(ch)
ch = str[3]
print(ch)
ch = str[4]
print(ch)
ch = str[5]
print(ch)
ch = str[6]
print(ch)
ch = str[7]
print(ch)
ch = str[8]
print(ch)
ch = str[9]
print(ch)
ch = str[10]
print(ch)
ch = str[11]
print(ch)

a
p
n
a

c
o
l
l
e
g
e

In [79]:
str = "apna college"
print(str[5])

c

In [80]:
str = "apna college"   
str[4] = "@"   # “We are trying to assign another character value at a particular index, but Python does not allow it.” “We can access a character in a string, but we cannot modify or change it.”

TypeError: 'str' object does not support item assignment

# Slicing
Accessing parts of a string

In [ ]:
str[starting_idx : ending_idx] # ending idx is not included

str = "ApnaCollage"

str[1 : 4] is "pna"

str[ : 4] is same as str[0 : 4]

str[ 1 : ] is same as str[1 : len(str)]

In [83]:
str = "apna collage"
print(str[1:4])

pna

In [84]:
str = "apna collage"
print(str[0:4])

apna

In [85]:
str = "apna collage"
print(str[5:12])

collage

In [86]:
str = "apna collage"
print(str[5:len(str)])

collage

In [88]:
str = "apna collage"
print(str[5:])  #[5:len(str)]

collage

In [89]:
str = "apna collage"
print(str[:4])  # [0:4]

apna

# Slicing Negative index

In [ ]:
 A  P  P  L  E
-5 -4 -3 -2 -1

str = "Apple"
str[-3 : -1 ] is "pl"

In [90]:
str = "apple"
print(str[-3:-1])

pl

In [91]:
str = "apple"
print(str[-5:-1])

appl

# String Functions
str = "i am a coder."

str.endwith("er.") #returns true if string ends with substr #“It checks whether the substring ends with "er.". If yes → True, if no → False.”

str.capitalize() #capitalizes 1st char 

str.replace(old,new) #replace all accurrences of old with new

str.find(word) #returns 1st index of 1st occurrence

str.count("am") #counts the occurrence of substr in string

In [96]:
str = "i am studying python from ApnaCollege"
print(str.endswith("ege"))

True

In [99]:
# str.endwith("er.") #returns true if string ends with substr
str = "i am studying python from ApnaCollege"
print(str.endswith("py")) # it check weather it end with an particular substring or not

False

In [100]:
# str.capitalize() #capitalizes 1st char 
str = "i am studying python from ApnaCollege"
print(str.capitalize())

I am studying python from apnacollege

In [101]:
str = "i am studying python from ApnaCollege"
print(str.capitalize())
print(str)  # “It means you can set the value once at the beginning, but you cannot change it again and again.”

I am studying python from apnacollege
i am studying python from ApnaCollege

In [102]:
str = "i am studying python from ApnaCollege"
str = str.capitalize() # “When you modify a string, it doesn’t change the original. Instead, it creates a new string with the changes.”
print(str)

I am studying python from apnacollege

In [104]:
# str.replace(old,new) #replace all accurrences of old with new
str = "i am studying python from ApnaCollege"
print(str.replace("o","a"))

i am studying pythan fram ApnaCallege

In [105]:
str = "i am studying python from ApnaCollege"
print(str.replace("python","javascript")) # we can also change an substring

i am studying javascript from ApnaCollege